/*****CSS pour la page de condition, a propos, recherche ***************/

/****Header *********************************************/
header .header .co
{
	text-align:center;
	position:fixed;
	top:0;
	width:100%;
	font-weight: bold;
}


header{
	background-color: rgb(41, 137, 245);


}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;


}

.co li {
  float: right;


}

li img{
  width: 25px;
}



li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/*****PAGE********************************************/


body {
  background-image: url("../img/bg_PT.png");
	background-position: bottom left;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin:0px;
	height:100%;
	text-align:center;
	width: 100% ;
	font-family:"trocchi",serif;


}


/*    liste etudient dans recherche            */
div .listeEtu a 
{

margin-left:10px;
text-align:left;
display: block;
text-decoration: none;
background-color: rgb(41, 137, 245);
width:200px;
color:white;
padding:10px;

}

/*  Nom de l'etudient dans profil '*/


div .NomPersonne{
    margin: 1px;
    color:white;
    font-size: 30px;
    padding: 10px ;
    
}

div .menuProfil li a 
{
    margin-top: 20px;
    text-align: left;
    font-size: 20px;
    padding: 10px ;
    
    
}


/***pour tous les bouton */
 .button {
    background-color:rgb(41, 137, 245);
    border: 1px solid rgb(0, 117, 212);
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    width: 150px;
    display: block;
}

.button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

.button:hover {
    background-color: rgb(0, 117, 212);
}







/**********MENU DANS PROFIL***************/
.coter {
    background-color: rgb(41, 137, 245);
    position: absolute;
   bottom: 10px;
   top:55px;
   left: 0;
   width: 300px; /* A changer pour la largeur de ta barre */

}

.coter h1 ,.coter h2, .coter ul li 
{
  font-size: 80%;
  text-align: left;
}

.coter li{

    overflow: none ;
    font-size: 80%;
    text-align: left;

}

.centre{
margin-left:300px;
text-align:center;

}

.centre table {

	text-align:center;
	border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
	margin-left:20px ;
	width :80%;
	border:medium solid  rgb(41, 137, 245);
}

.centre table tr {
	border: thin solid  rgb(41, 137, 245);
	width : 50%;
	padding : 5px;
}

tr:nth-child(even){background-color: rgb(41, 137, 245)}

.centre table th {
	background-color: rgb(41, 137, 245);
	color: white; 

}


.centre table td , .centre table th {
	
	border: thin solid  rgb(41, 137, 245);
	width : 50%;
	padding : 8px;
	text-align: left;
}





/*****FOOTER*********************************************/
.foot
{
	bottom:0;
	position: absolute;
	width:100%;
	background-color: rgb(41, 137, 245);

}
.foot li{
  float: right;
}


/*****IS ACRIVE FOOTER ET HEADER*************************/
.foot a:hover:not(.active), .header a:hover:not(.active), .menuProfil a:hover:not(.active){
    background-color: rgb(0, 117, 212);
}

.foot.active, .header.active{
background-color: rgb(0, 117, 212);
}
